body {
  justify-content: center;
  align-items: center;
}
#title {
  font-size: 30px;
  position: absolute;
  left: 50%;
  top: 20%;
  margin-left: -120px;
  margin-top: -60px;
  border-width: thin;
  border: solid;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  /* border-radius: 10px; */
  background-color: cornsilk;
}
.centered {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -219px;
  margin-top: -270px;
}
#buttongrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 5px;
}
bordered {
  border-radius: 0.2px;
  border: solid;
}
.buttons {
  margin: 10px;
  font-size: 20px;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  border: solid;
  background-color: rgb(182, 206, 233);
  border-radius: 5px;
  font-weight: bold;
}
#display {
  padding: 20px;
  border: solid;
  border-width: 4px;
  text-align: right;
  margin: 10px;
  border-radius: 5px;
  font-size: 40px;
  background-color: rgb(245, 245, 245);
}
.operator {
  background-color: rgb(236, 181, 108);
}
#wholecalc {
  background-color: rgb(231, 228, 228);
  border: solid;
  border-width: thick;
  padding: 15px;
  padding-top: 40px;
  padding-bottom: 40px;
  border-radius: 15px;
}

#clear {
  text-align: center;
  background-color: darksalmon;
}
#backspace {
  text-align: center;
  background-color: darksalmon;
}
#toprow {
  display: flex;
  justify-content: flex-start;
}
#background {
  background-color: #9dd9f3;
  position: absolute;
  height: 100%;
  width: 100%;
}
#top {
  width: 100%;
  height: 10%;
  background-color: rgb(245, 236, 189);
  justify-self: flex-start;
}
#bot {
  width: 100%;
  height: 10%;
  background-color: rgb(245, 236, 189);
  justify-self: flex-end;
}
#middle {
  width: 100%;
  height: 80%;
}

.buttons:hover {
  transform: scale(1.05);
}
